In [2]:
import pandas as pd
import numpy as np

from urllib.parse import quote    
from urllib.request import urlopen

import sys
import requests
from bs4 import BeautifulSoup 
import pandas as pd
from sqlalchemy import create_engine

import pymysql.cursors
pymysql.install_as_MySQLdb()
import MySQLdb
from pandas.io.json import json_normalize
import time
from pyproj import Proj, transform
import folium
from folium.plugins import MarkerCluster, MiniMap

ModuleNotFoundError: No module named 'pymysql'

In [13]:
bus_coord = pd.read_csv('서울시버스정류소좌표.csv')

station_info = pd.read_csv('station_info.csv')
station_info = station_info.iloc[:,1:]

bus = pd.read_csv('BUS_STATION_BOARDING_MONTH_202001.csv',encoding = 'euc-kr')
bus.rename(columns={'역명':'정류장명',
                   '버스정류장ARS번호':'ARSID'},inplace=True)

In [63]:
# utm-k 좌표계 -> wgs84로 변경
# 좌표계 확인하는 것 따로 태스크로 빼야할 듯
x = station_info['x_code'].iloc[0]
y = station_info['y_code'].iloc[0]

proj_utmk = Proj(init = 'epsg:5178')
proj_wgs = Proj(init = 'epsg:4326')

transform(proj_utmk,proj_wgs,x,y)

/Users/sinmin-yong/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/Users/sinmin-yong/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

(119.64452328037466, 23.836662928982605)

In [3]:
# 지하철 데이터 
subway_coord = pd.read_csv('subway_coordinate.csv')

In [129]:
subway_coord2 = subway_coord.drop_duplicates()

In [80]:
subway_coord.head()

   전철역코드  전철역명 호선 외부코드  사이버스테이션       X좌표        Y좌표   X좌표(WGS)    Y좌표(WGS)
0   2818  가락시장  8  817     2818  525992.0  1108579.0  37.492522  127.118234
1    340  가락시장  3  350     2818  525992.0  1108579.0  37.492522  127.118234
2   2535  종로3가  5  534      153  498060.0  1130332.0  37.571607  126.991806
3    319  종로3가  3  329      153  498060.0  1130332.0  37.571607  126.991806
4    153  종로3가  1  130      153  498060.0  1130332.0  37.571607  126.991806

In [100]:
subway.head()

       사용일자  노선명  역ID    역명  승차총승객수  하차총승객수      등록일자
0  20191201  1호선  152    종각   19093   17141  20191204
1  20191201  1호선  153  종로3가   19646   17772  20191204
2  20191201  1호선  154  종로5가   13716   13149  20191204
3  20191201  1호선  155   동대문   11040   13079  20191204
4  20191201  1호선  156   신설동    8498    8322  20191204

In [69]:
#just kaggle
engine = create_engine("mysql+mysqldb://justkaggle:"+"justkaggle1234!"+"@104.197.128.149/smy_db", encoding='utf-8')
conn = engine.connect()

sql = 'select * from subway_dailylog_2019'
subway2019 = pd.read_sql(sql,con = conn)

In [71]:
subway = pd.read_csv('CARD_SUBWAY_MONTH_201912.csv',encoding = 'euc-kr')

In [130]:
subway2 = pd.merge(subway,subway_coord2,left_on = '역ID', right_on = '전철역코드',how='left')

In [131]:
subway2.isnull().sum()

사용일자           0
노선명            0
역ID            0
역명             0
승차총승객수         0
하차총승객수         0
등록일자           0
전철역코드        486
전철역명         486
호선           486
외부코드         486
사이버스테이션      486
X좌표         1199
Y좌표         1199
X좌표(WGS)     858
Y좌표(WGS)     858
dtype: int64

In [132]:
subway3 = subway2.drop(index = subway2.isnull()[subway2.isnull()['X좌표(WGS)']==True].index.tolist())

In [133]:
subway3.isnull().sum()

사용일자          0
노선명           0
역ID           0
역명            0
승차총승객수        0
하차총승객수        0
등록일자          0
전철역코드         0
전철역명          0
호선            0
외부코드          0
사이버스테이션       0
X좌표         341
Y좌표         341
X좌표(WGS)      0
Y좌표(WGS)      0
dtype: int64

In [137]:
#지하철 1201 데이터
subway_1201 = subway3[subway3['사용일자']==20191201]

#  버스정류장 데이터 하루치 승하차 데이터 매핑
    - 지하철은 utm-k to wgs convert 작업 후

In [21]:
bus.head()

,사용일자,노선ID,노선번호,노선명,표준버스정류장ID,ARSID,역ID,정류장명,승차총승객수,하차총승객수,등록일자
0,20200101,11110371,N62,N62번(양천공영차고지~면목동차고지),103000034,04133,72645,왕십리역,0,13,20200104
1,20200101,41110061,6616,6616(철산동~온수동),116000120,17210,10202,현대아파트.개봉중앙시장,153,92,20200104
2,20200101,41110061,6616,6616(철산동~온수동),116000080,17166,8001850,경인중학교,171,46,20200104
3,20200101,41110061,6616,6616(철산동~온수동),116000083,17169,9004386,오류1동주민센터.오류문화센터,87,16,20200104
4,20200101,41110061,6616,6616(철산동~온수동),116000085,17171,9004384,오류동역,129,46,20200104

In [28]:
arsid_ls = []
for i in range(len(bus_coord)):
    if len(str(bus_coord['ARSID'].iloc[i])) == 4:
        arsid_ls.append(str(0)+str(bus_coord['ARSID'].iloc[i]))
    else:
        arsid_ls.append(str(bus_coord['ARSID'].iloc[i]))
        
bus_coord['arsid2'] = arsid_ls

In [33]:
bus_coord.tail()

       ARSID       표준ID         정류장명         X좌표        Y좌표 arsid2
11175  25995  124000334        우성아파트  127.139326  37.550442  25995
11176  25996  124000333        우성아파트  127.140052  37.550620  25996
11177  25997  124000332         조일약국  127.123477  37.533686  25997
11178  25998  124000331         성내시장  127.125410  37.536199  25998
11179  25999  124000330  천호우체국.로데오거리  127.127354  37.540390  25999

In [34]:
bus_need = bus[['사용일자','정류장명','ARSID','승차총승객수','하차총승객수']]
bus_coord_need = bus_coord[['arsid2','정류장명','X좌표','Y좌표']]

In [41]:
bus_need2 = bus_need.groupby(['사용일자','ARSID'])['승차총승객수','하차총승객수'].sum().reset_index()

In [46]:
bus_gis = pd.merge(bus_coord_need,bus_need2,left_on = 'arsid2',right_on = 'ARSID',how='left').dropna()

In [48]:
bus_gis.head()

  arsid2     정류장명         X좌표        Y좌표        사용일자  ARSID  승차총승객수  하차총승객수
0  01001  종로2가사거리  126.987786  37.569764  20200101.0  01001   179.0   285.0
1  01001  종로2가사거리  126.987786  37.569764  20200102.0  01001   610.0   569.0
2  01001  종로2가사거리  126.987786  37.569764  20200103.0  01001   652.0   694.0
3  01001  종로2가사거리  126.987786  37.569764  20200104.0  01001   319.0   566.0
4  01001  종로2가사거리  126.987786  37.569764  20200105.0  01001   218.0   304.0

In [56]:
bus_gis_20200102 = bus_gis[bus_gis['사용일자'] == 20200102.0]
bus_gis_20200102.index = range(len(bus_gis_20200102))

# 지도
    folium library

In [51]:
# 서울시청 위도, 경도
latitude_value = 37.565954
longitude_value = 126.978023

map_hs = folium.Map((latitude_value, longitude_value), zoom_start = 15)

In [52]:
#승차, 하차 별로 그룹

mcg = folium.plugins.MarkerCluster(control=False)
bus_get_on = folium.plugins.FeatureGroupSubGroup(mcg,'bus_get_on')
bus_get_off = folium.plugins.FeatureGroupSubGroup(mcg,'bus_get_off')

In [60]:
for row in bus_gis_20200102.itertuples():#해당 데이터를 각 튜플별로 반환 받는 iter문
    x = float(row.X좌표)
    y = float(row.Y좌표)
    
    get_on = '승차: ' + str(row.승차총승객수)
    get_off = '하차: ' + str(row.하차총승객수)


    map_hs.add_child(mcg)
    map_hs.add_child(bus_get_on)
    map_hs.add_child(bus_get_off)

    get_on_icon=folium.Icon(color='green', icon='angle-up', icon_color="white", prefix='fa')
    get_off_icon=folium.Icon(color='red', icon='angle-down', icon_color="white", prefix='fa')

    bus_get_on.add_child(folium.Marker([y,x],icon=get_on_icon,popup = get_on))
    bus_get_off.add_child(folium.Marker([y,x],icon=get_off_icon,popup = get_off))

In [61]:
folium.LayerControl().add_to(map_hs)

In [62]:
map_hs.save('stations.html')