In [1]:
import pandas as pd
import numpy as np

from urllib.parse import quote    
from urllib.request import urlopen

import sys
import requests
from bs4 import BeautifulSoup 
import pandas as pd
from sqlalchemy import create_engine

import pymysql.cursors
pymysql.install_as_MySQLdb()
import MySQLdb

In [12]:
'''bus데이터는 1월자'''
bus = pd.read_csv('BUS_STATION_BOARDING_MONTH_202001.csv',encoding = 'euc-kr')
bus.rename(columns={'역명':'정류장명',
                   '버스정류장ARS번호':'ARSID'},inplace=True)
#bus['ARSID'] = bus['ARSID'].astype('int64') # ARSID에 문자열 정보가 존재

'''지하철 데이터는 12월자'''
subway = pd.read_csv('CARD_SUBWAY_MONTH_201912.csv',encoding = 'euc-kr')

bus_coord = pd.read_csv('서울시버스정류소좌표.csv')

kor_address = pd.read_csv('korea_address.csv')
kor_address.columns = kor_address.iloc[0,:].tolist()
kor_address.drop(index=0,inplace=True)

area_code = pd.read_csv('지역코드.csv')

area_code.columns = ['code','지역구']
pre_code = pd.DataFrame({'code':[1],
              '지역구':['종로구']})

area_code = area_code.append(pre_code)
area_code = area_code.sort_values('code')

station_info = pd.read_csv('station_info.csv')
station_info = station_info.iloc[:,1:]

In [2]:
'''
engine = create_engine("mysql+mysqldb://root:"+"Tlsalsdyd95!"+"@localhost/seoul_public_db", encoding='utf-8')
conn = engine.connect()
'''

#just kaggle
engine = create_engine("mysql+mysqldb://justkaggle:"+"justkaggle1234!"+"@104.197.128.149/smy_db", encoding='utf-8')
conn = engine.connect()

In [4]:
# 지하철 12월 승하차 인원 데이터 삽입
subway.to_sql(name='subway_201912', con=engine, if_exists='append')

In [ ]:
# 버스 1월 승하차 인원 데이터 삽입
bus.to_sql(name='bus_202001',con=engine,if_exists='append')

In [10]:
#지하철 역 정보 데이터 삽입
station_info.to_sql(name='subway_info',con=engine,if_exists='append')

In [12]:
bus_coord.to_sql(name='busstop_info',con=engine,if_exists = 'append')

In [26]:
kor_address.to_sql(name='korea_address',con=engine,if_exists='append')

In [27]:
area_code.to_sql(name='region_code',con=engine,if_exists='append')

In [28]:
subway_timelog = pd.read_excel('서울교통공사 2018년 일별 역별 시간대별 승하차인원(1_8호선).xlsx')
subway_timelog.columns = subway_timelog.iloc[0,:].tolist()
subway_timelog = subway_timelog.drop(index=0)

In [1]:
#2014
subway_timelog0 = pd.read_csv('./일별시간별지하철승하차/서울교통공사 2014년 일별 역별 시간대별 승하차인원(1_8호선).csv',encoding='euc-kr')
#2015
subway_timelog1 = pd.read_csv('./일별시간별지하철승하차/서울교통공사 2015년 일별 역별 시간대별 승하차인원(1_8호선).csv',encoding='euc-kr')
#2016
subway_timelog2 = pd.read_csv('./일별시간별지하철승하차/서울교통공사 2016년 일별 역별 시간대별 승하차인원(1_8호선).csv',encoding='euc-kr')
#2017
subway_timelog3 = pd.read_excel('./일별시간별지하철승하차/서울교통공사 2017년 일별 역별 시간대별 승하차인원(1_8호선).xlsx')
subway_timelog3.columns = subway_timelog3.iloc[0,:].tolist()
subway_timelog3 = subway_timelog3.drop(index=0)
#2018
subway_timelog4 = pd.read_excel('./일별시간별지하철승하차/서울교통공사 2018년 일별 역별 시간대별 승하차인원(1_8호선).xlsx')
subway_timelog4.columns = subway_timelog4.iloc[0,:].tolist()
subway_timelog4 = subway_timelog4.drop(index=0)

NameError: name 'pd' is not defined

In [5]:
subway_timelog0.to_sql(name='subway_daily_timelog_2014',con=engine,if_exists='append')

In [6]:
subway_timelog1.to_sql(name='subway_daily_timelog_2015',con=engine,if_exists='append')

In [7]:
subway_timelog2.to_sql(name='subway_daily_timelog_2016',con=engine,if_exists='append')

In [8]:
subway_timelog3.to_sql(name='subway_daily_timelog_2017',con=engine,if_exists='append')

In [9]:
subway_timelog4.to_sql(name='subway_daily_timelog_2018',con=engine,if_exists='append')

In [14]:
bus_coord

       ARSID       표준ID           정류장명         X좌표        Y좌표
0       1001  100000001        종로2가사거리  126.987786  37.569764
1       1002  100000002    창경궁.서울대학교병원  126.996520  37.579179
2       1003  100000003      명륜3가.성대입구  126.998290  37.582709
3       1004  100000004       종로2가.삼일교  126.987507  37.568582
4       1005  100000005  혜화동로터리.여운형활동터  127.001694  37.586230
...      ...        ...            ...         ...        ...
11175  25995  124000334          우성아파트  127.139326  37.550442
11176  25996  124000333          우성아파트  127.140052  37.550620
11177  25997  124000332           조일약국  127.123477  37.533686
11178  25998  124000331           성내시장  127.125410  37.536199
11179  25999  124000330    천호우체국.로데오거리  127.127354  37.540390

[11180 rows x 5 columns]

In [17]:
station_info['x_code']

0      198520.99720
1      199270.90000
2      199127.42830
3      199296.46930
4      200171.39440
           ...
593    208546.69877
594    209928.13163
595    210265.51556
596    212261.28518
597    213081.44449
Name: x_code, Length: 598, dtype: float64