In [22]:
import pandas as pd
import numpy as np

from urllib.parse import quote    
from urllib.request import urlopen

import sys
import requests
from bs4 import BeautifulSoup 
import pandas as pd
from sqlalchemy import create_engine

import pymysql.cursors
pymysql.install_as_MySQLdb()
import MySQLdb

In [23]:
'''bus데이터는 1월자'''
bus = pd.read_csv('BUS_STATION_BOARDING_MONTH_202001.csv',encoding = 'euc-kr')
bus.rename(columns={'역명':'정류장명',
                   '버스정류장ARS번호':'ARSID'},inplace=True)
#bus['ARSID'] = bus['ARSID'].astype('int64') # ARSID에 문자열 정보가 존재

'''지하철 데이터는 12월자'''
subway = pd.read_csv('CARD_SUBWAY_MONTH_201912.csv',encoding = 'euc-kr')

bus_coord = pd.read_csv('서울시버스정류소좌표.csv')

kor_address = pd.read_csv('korea_address.csv')
kor_address.columns = kor_address.iloc[0,:].tolist()
kor_address.drop(index=0,inplace=True)

area_code = pd.read_csv('지역코드.csv')

area_code.columns = ['code','지역구']
pre_code = pd.DataFrame({'code':[1],
              '지역구':['종로구']})

area_code = area_code.append(pre_code)
area_code = area_code.sort_values('code')

station_info = pd.read_csv('station_info.csv')
station_info = station_info.iloc[:,1:]

In [24]:
'''
engine = create_engine("mysql+mysqldb://root:"+"Tlsalsdyd95!"+"@localhost/seoul_public_db", encoding='utf-8')
conn = engine.connect()
'''

#just kaggle
engine = create_engine("mysql+mysqldb://justkaggle:"+"justkaggle1234!"+"@104.197.128.149/smy_db", encoding='utf-8')
conn = engine.connect()

In [4]:
# 지하철 12월 승하차 인원 데이터 삽입
subway.to_sql(name='subway_201912', con=engine, if_exists='append')

In [ ]:
# 버스 1월 승하차 인원 데이터 삽입
bus.to_sql(name='bus_202001',con=engine,if_exists='append')

In [10]:
#지하철 역 정보 데이터 삽입
station_info.to_sql(name='subway_info',con=engine,if_exists='append')

In [12]:
bus_coord.to_sql(name='busstop_info',con=engine,if_exists = 'append')

In [26]:
kor_address.to_sql(name='korea_address',con=engine,if_exists='append')

In [27]:
area_code.to_sql(name='region_code',con=engine,if_exists='append')